:root {
	// Light mode colors
	--primary-background-color: rgb(249, 179, 255);
	--secondary-background-color: rgb(252, 148, 236);
	--text-color: black;
	--border-color: 2px solid black;
	--font-family: "Brush Script MT", sans-serif;
	--a-color: black;

	// Dark mode colors
	--dark-mode-primary-background-color: rgb(49, 49, 139);
	--dark-mode-secondary-background-color: rgb(7, 7, 105);
	--dark-mode-text-color: #ffffff;
	--dark-mode-border-color: 2px solid black;
	--dark-mode-a-color: #ffffff;
}
